.selector-for-some-widget {
    box-sizing: content-box;
}
@media (max-width: 768px) {
  body {
    background-color: lightblue;
  }
}
body {
    background-image: url("/imagenes/fondo.jpeg"); 
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    background-color: #228B22;
    background-size: cover;
    background-position: center;
    color: #FFFFFF;
    padding: 1rem 0;
}

header h1 {
    font-size: 2.5rem;
}

p h2 {
    padding: 0 20px;
}

.navbar-brand {
    font-weight: bold;
}

.nav-link {
    color: #0056b3 !important;
    text-decoration: none;
}

.nav-link:hover {
    color: #003d7a !important;
}

.dropdown-menu {
    border-radius: 0.5rem;
}

#contenido {
    background: #00FF0000 ;
    color:#FFFFFF;
    padding: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-right: 1rem;
    flex: 1;
    max-width: 100%;
}

.aside {
    background: #FFFFFF;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 3rem;
    display: none;
    max-width: 30%;
    transition: max-width 0.3s ease;
}

.aside.visible {
    display: block;
}

.aside-hidden #contenido {
    max-width: 100%;
}

.aside-visible #contenido {
    max-width: 70%;
}

footer {
    background-color: #343a40;
    color: #FFFFFF;
}

footer h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

footer img {
    width: 32px;
    height: 32px;
}
